body {
    font-family: sans-serif;
}
form {
    background-color: #ceebf6;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    margin: 30px auto;
}
.input-div {
    margin-bottom: 0.5em;
}
input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    border-radius: 3px;
    outline: none;
    border: none;
}
.error {
    color: red;
    margin: 10px 0;
    font-size: 0.8em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-top: 5px;
}
button {
    background-color: #90e2b3;
    border: none;
    padding: 0.5em 2em;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

button:active {
    scale: 0.95;
}